body {
  background: #cacbd4;
  color: #1f19e2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  scroll: auto;
  font-family: 'Marcellus';
  /*::-webkit-scrollbar-thumb:hover {
    background: $blue;
  }*/
  /*::-webkit-scrollbar-thumb:active {
    background: #000000;
  }*/
  /*::-webkit-scrollbar-track:hover {
    background: #666666;
  }*/ }
  body a {
    color: inherit;
    font-family: 'Marcellus SC'; }
    body a:hover {
      color: #111; }
  body ::-webkit-scrollbar {
    width: 1px; }
  body ::-webkit-scrollbar-thumb {
    background: #1f19e2; }
  body ::-webkit-scrollbar-track {
    background: #bdbec7; }
  body ::-webkit-scrollbar-track:active {
    background: #333333; }
  body ::-webkit-scrollbar-corner {
    background: transparent; }

.displaynone {
  visibility: visible; }

#instructions {
  display: none; }

#instruction-icon {
  cursor: pointer;
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #1f19e2;
  text-transform: initial;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0;
  border-bottom: 50px solid #c1c2cc;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 110px;
  padding: 0 0 0 0;
  -webkit-transition: top 1.5s ease;
  transition: top 1.5s ease; }
  #instruction-icon span {
    position: relative;
    top: 4px; }

.right {
  left: 0% !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.up {
  top: 0% !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

#about {
  position: fixed;
  left: 0;
  top: calc(100% - 23px);
  z-index: 5;
  width: 100%;
  /*	border-right: 1px solid $blue;*/
  height: 100vh;
  background: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  #about h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
    margin-bottom: 7px;
    padding: 0 10%; }
  #about h3 {
    font-family: 'Marcellus SC';
    font-size: 19px;
    margin-bottom: 3px;
    margin-top: 27px;
    padding: 0 10%; }
  #about p:nth-of-type(2) {
    text-align: center;
    padding-bottom: 25px; }
  #about p {
    font-size: 11px;
    letter-spacing: 0.3px;
    margin-bottom: 12px;
    padding: 0 10%; }
  #about #info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background: #bdbec7;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 3px 0 0 0;
    cursor: pointer; }

#about-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 27px;
  left: 27px;
  border-radius: 50%;
  border: 2px solid #1f19e2;
  padding: 1.5rem;
  z-index: 6;
  color: #1f19e2; }
  #about-icon p {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #about-icon:hover {
    opacity: 0.8; }
  #about-icon:active {
    background: #fff;
    color: #111; }

nav {
  width: 100%;
  height: 58px;
  position: fixed;
  z-index: 4;
  top: 0;
  /*	border-bottom: solid 1px $blue;*/
  background: transparent;
  color: white; }
  nav h1 {
    margin-top: 18px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Marcellus SC';
    letter-spacing: 0.08rem; }
  nav #help {
    position: absolute;
    width: 20px;
    position: fixed;
    top: 21px;
    right: 6%; }

#intro {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background: #cacbd4; }
  #intro img {
    position: absolute;
    width: 50px;
    bottom: 65px;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  #intro #introtext {
    width: 80%;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -52%);
            transform: translate(-50%, -52%);
    overflow: hidden;
    /*		#smaller {
    			font-size: 1.5rem;
    			font-family: 'Marcellus';
    		}*/ }
    #intro #introtext h2 {
      font-family: 'Marcellus';
      text-align: center;
      margin: 0px 0 40px 0;
      font-size: 3rem;
      line-height: 1.3;
      letter-spacing: 0.06rem; }
    #intro #introtext p {
      font-size: 1.5rem;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      margin-bottom: 0; }
    #intro #introtext p:nth-of-type(2) {
      padding-top: 12px; }
    #intro #introtext #form {
      margin-top: 0px; }
    #intro #introtext input {
      overflow: hidden;
      -webkit-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;
      background: transparent;
      border: none;
      border-bottom: 2px solid #1f19e2;
      border-radius: 0;
      width: 100%;
      text-align: center;
      font-size: 2.3rem;
      margin-bottom: 30px;
      padding-left: 0; }
      #intro #introtext input:focus {
        outline: none; }
    #intro #introtext ::-webkit-input-placeholder {
      color: #555;
      letter-spacing: 0.03rem; }
    #intro #introtext button {
      color: #1f19e2;
      text-transform: initial;
      text-align: center;
      letter-spacing: 0;
      font-size: 1.5rem;
      width: 120px;
      margin-left: calc(50% - 60px);
      border: 2px solid #1f19e2;
      padding: 0 0 38px 0; }
    #intro #introtext button:hover {
      color: #cacbd4;
      background: #1f19e2;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }

#lists {
  height: 50vh;
  width: 100%;
  padding-top: 90px;
  overflow: scroll;
  color: #1f19e2; }
  #lists .wordcontainer {
    width: 50%;
    float: left; }
    #lists .wordcontainer h2 {
      font-size: 1.8rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 25px;
      letter-spacing: 1px;
      border-bottom: 1px solid #1f19e2;
      padding: 0 0 5px 5px;
      width: 70px;
      margin: 0 auto; }
    #lists .wordcontainer ul {
      overflow-x: hidden;
      list-style-type: none;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      padding-top: 5px; }
      #lists .wordcontainer ul li:first-child {
        padding-top: 8px; }
      #lists .wordcontainer ul li:last-child {
        margin-bottom: 100px; }
      #lists .wordcontainer ul li {
        text-align: center;
        -webkit-transition: translate 0.5s ease;
        transition: translate 0.5s ease;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        line-height: 1.2;
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        cursor: -webkit-image-set(url(../images/x_lo.png) 1x, url(../images/x.png) 2x) 17 13, auto; }
        #lists .wordcontainer ul li:hover {
          -webkit-transform: scale(1);
                  transform: scale(1); }

main {
  width: 100%;
  height: 36vh;
  box-shadow: 0 -6vh 10vh #cacbd4;
  position: absolute;
  bottom: 0;
  background: #cacbd4; }
  main #adjectives {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 300px;
    bottom: 25vh; }
    main #adjectives #brandname {
      font-size: 1.7rem;
      letter-spacing: 0.03rem;
      text-align: center;
      margin-bottom: 0px;
      line-height: 1.8;
      color: #1f19e2; }
    main #adjectives p {
      float: left;
      width: 230px;
      text-align: center;
      font-weight: bold;
      text-align: center;
      font-size: 3.2rem;
      /*border-bottom: solid 3px;*/
      margin: 0 20px 0 20px;
      height: 48px;
      color: #1f19e2; }
    main #adjectives #input {
      max-width: 240px;
      display: block;
      color: #1f19e2;
      position: absolute;
      top: 36%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    main #adjectives #input2 {
      max-width: 240px;
      display: block;
      color: #1f19e2;
      position: absolute;
      top: 36%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    main #adjectives #flip:hover {
      cursor: pointer; }
    main #adjectives .switchout {
      color: #bfc0ca !important;
      position: absolute !important;
      top: 92% !important;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    main #adjectives svg {
      float: left;
      width: 15px;
      margin-top: 15px; }
      main #adjectives svg:hover {
        cursor: pointer; }
    main #adjectives svg:nth-of-type(1) {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  main #icons {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 8.5vh;
    /*		p {
    			text-align: center;
    			width: 40px;
    			float: left;
    			padding: 8px 15px 0 15px;
    		}*/ }
    main #icons svg {
      width: 30px;
      float: left; }
      main #icons svg:hover {
        cursor: pointer; }
    main #icons svg:nth-of-type(2) {
      margin: 0 30px;
      width: 35px; }
    main #icons svg:nth-of-type(3) {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  main #tracker {
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    main #tracker p {
      font-size: 0.75rem; }

/*@media only screen and (min-width: 500px) {
	#intro{
		#introtext {
			width: 480px;
			margin-left: 0;
			position: absolute;
			top:48%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%,-52%);
			margin-top: 0;
		}
	}
}*/
@media only screen and (min-width: 800px) {
  nav {
    background: transparent; }
    nav h1 {
      margin-top: 30px; }

  #about-icon {
    display: block; }

  #about {
    position: fixed;
    left: -304px;
    top: 0;
    z-index: 5;
    width: 250px;
    padding: 0 27px;
    height: 100vh;
    background: white; }
    #about #info {
      display: none; }
    #about h2 {
      text-align: center;
      margin-top: 60px;
      padding: 0; }
    #about h3 {
      font-family: 'Marcellus SC';
      font-size: 23px;
      margin-bottom: 3px;
      margin-top: 27px;
      padding: 0; }
    #about p {
      font-size: 12px;
      letter-spacing: 0.3px;
      margin-bottom: 12px;
      padding: 0; }
    #about p:nth-of-type(1) {
      text-align: center;
      margin-bottom: 70px; }
    #about #swipeinfo {
      color: #1f19e2;
      font-style: italic;
      position: absolute;
      bottom: 65px;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 1.2rem; }

  #instructions {
    display: block;
    position: fixed; }
    #instructions #downbutton {
      position: fixed;
      z-index: 999;
      bottom: 90px;
      letter-spacing: 0.1rem;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-family: "Marcellus SC"; }
    #instructions ul {
      color: white;
      background: #c1c2cc;
      padding: 50px 70px 0 70px;
      border-radius: 8px 8px 0 0;
      list-style-type: none;
      position: fixed;
      z-index: 999;
      bottom: -1px;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-bottom: 0 !important;
      -webkit-transition: bottom 1.5s ease;
      transition: bottom 1.5s ease; }
    #instructions .down {
      bottom: -113px !important;
      -webkit-transition: bottom 1.5s ease;
      transition: bottom 1.5s ease; }
    #instructions li {
      /*clear: both;*/
      float: left; }
    #instructions li:not(:last-child) {
      padding-right: 50px; }
    #instructions p {
      float: left;
      margin-top: 2px; }
    #instructions img {
      height: 28px;
      margin-right: 10px;
      float: left;
      -webkit-transform: rotateZ(-90deg);
              transform: rotateZ(-90deg); }
    #instructions #one img:nth-of-type(2) {
      -webkit-transform: rotateZ(90deg);
              transform: rotateZ(90deg); }
    #instructions #two img {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg); }
    #instructions #three img:nth-of-type(1) {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg); }
    #instructions #three img:nth-of-type(2) {
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }

  #tracker {
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    #tracker p {
      font-size: 0.85rem; }

  .displaynone {
    visibility: collapse; }

  nav #help {
    position: fixed;
    width: 50px;
    position: fixed;
    left: 64px; }

  #intro #introtext {
    width: 560px;
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 0; }
    #intro #introtext h2 {
      font-family: 'Marcellus';
      text-align: center;
      margin: 0px 0 40px 0;
      font-size: 6rem;
      line-height: 1.2;
      letter-spacing: 0.06rem; }
    #intro #introtext p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 0; }
    #intro #introtext p:nth-of-type(2) {
      padding-top: 12px;
      padding-bottom: 0px; }
    #intro #introtext input {
      -webkit-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;
      background: transparent;
      border: none;
      border-bottom: 2px solid #1f19e2;
      width: calc(100% - 220px);
      font-size: 3rem;
      /*text-align: left;*/
      padding-left: 5px; }
      #intro #introtext input:focus {
        outline: none; }
    #intro #introtext ::-webkit-input-placeholder {
      color: #333;
      letter-spacing: 0rem; }
    #intro #introtext button {
      color: #1f19e2;
      text-transform: initial;
      text-align: center;
      letter-spacing: 0;
      font-size: 1.5rem;
      width: 170px;
      margin-left: 0;
      float: right;
      border-color: #1f19e2;
      padding-bottom: 39px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #intro #introtext #form {
      margin-top: 70px; }

  main {
    width: 50%;
    height: 30vh;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -42%);
            transform: translate(-50%, -42%);
    box-shadow: none; }
    main #adjectives {
      width: 655px; }
      main #adjectives h1 {
        font-size: 2.5rem;
        letter-spacing: 0.08rem; }
      main #adjectives p {
        width: 550px;
        font-size: 8rem;
        margin: 0 50px;
        height: 115px;
        border-bottom: 2px solid #1f19e2; }
      main #adjectives svg {
        /*	    		margin-top: 30px;
        	    		width: 20px;*/
        display: none; }
      main #adjectives #brandname {
        font-size: 2rem; }
      main #adjectives #input {
        max-width: initial;
        display: block;
        position: absolute;
        top: 17%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      main #adjectives #input2 {
        max-width: initial;
        display: block;
        position: absolute;
        top: 17%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      main #adjectives #flip:hover {
        cursor: pointer; }
      main #adjectives .switchout {
        position: absolute !important;
        top: 92% !important;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }

  #lists {
    padding-top: 60px;
    position: absolute;
    right: 50px;
    height: calc(100vh - 60px);
    width: 140px;
    overflow: hidden; }
    #lists .wordcontainer {
      position: relative;
      float: none;
      clear: both;
      height: calc(40vh - 30px);
      width: 100%;
      padding-top: 0;
      overflow-y: hidden;
      z-index: 3;
      margin-bottom: 60px; }
      #lists .wordcontainer .shadow1 {
        position: fixed;
        z-index: 4;
        box-shadow: inset 0 -5vh 7vh #cacbd4;
        height: 7vh;
        width: 134px;
        top: calc(33vh + 30px); }
      #lists .wordcontainer .shadow2 {
        position: fixed;
        z-index: 4;
        box-shadow: inset 0 -5vh 7vh #cacbd4;
        height: 7vh;
        width: 134px;
        top: calc(73vh + 60px); }
      #lists .wordcontainer h2 {
        font-size: 2.2rem;
        letter-spacing: 1px;
        padding: 0 8px 10px 8px; }
      #lists .wordcontainer ul {
        list-style-type: none;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0.09rem;
        padding-top: 10px;
        height: 100%; }
        #lists .wordcontainer ul li {
          line-height: 1.6; }

  #finalize {
    display: none;
    position: absolute;
    bottom: -10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #1f19e2;
    text-transform: initial;
    text-align: center;
    letter-spacing: 0;
    font-size: 1.5rem;
    width: 120px;
    border: 2px solid #1f19e2;
    padding: 0 0 38px 0; }
    #finalize:hover {
      color: black;
      background: #1f19e2;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; } }
/*iPhone 4-5s adjustments*/
/*@media only screen and (max-width: 400px) {
	#intro {
		#introtext {
			width: 90%;
			margin-left: 5%;
			h1 {
				font-size: 3.3rem;
			}
			#smaller {
				font-size:1.8rem;
			}
			p {
				font-size: 1.35rem;
			}
		}
	}
}*/
