body {
  background: #111;
  color: white; }

#lists {
  margin-top: 60px; }
  #lists div {
    width: 50%;
    float: left; }
    #lists div h2 {
      font-size: 1.4rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 25px;
      letter-spacing: 1px; }
    #lists div ul {
      list-style-type: none;
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: 0.05rem; }

main {
  width: 100%;
  position: fixed;
  bottom: 40px;
  left: 0; }
  main #adjectives {
    margin-left: calc(50% - 150px);
    margin-bottom: 50px; }
    main #adjectives p {
      float: left;
      width: 220px;
      text-align: center;
      font-weight: bold;
      text-align: center;
      font-size: 3.2rem;
      margin-bottom: 0;
      border-bottom: solid 3px; }
    main #adjectives #input {
      display: block; }
    main #adjectives #input2 {
      display: block; }
    main #adjectives #flip:hover {
      cursor: pointer; }
    main #adjectives .switchout {
      display: none !important; }
    main #adjectives svg {
      float: left;
      width: 15px;
      margin: 20px 0 0 25px; }
    main #adjectives svg:nth-of-type(1) {
      transform: rotate(180deg);
      margin: 20px 25px 0 0; }
  main #buttons #icons {
    margin-left: calc(50% - 75px); }
  main #buttons svg {
    width: 40px; }
    main #buttons svg:hover {
      cursor: pointer; }
  main #buttons svg:nth-of-type(2) {
    width: 30px;
    padding: 0 22px 14px 22px; }
