body {
  background: #111;
  color: white;
}
#lists {
	margin-top:60px;
	div {
		width: 50%;
		float: left;
		h2 {
			font-size: 1.4rem;
			text-align: center;
			font-weight: bold;
			margin-bottom: 25px;
			letter-spacing: 1px;
		}
		ul {
			list-style-type: none;
			text-align: center;
		}
	}
}
main {
	width: 100%;
	position: fixed;
	bottom: 35px;
	left: 0;
	#adjectives {
		margin-left: calc(50% - 155px);
		p {
			float:left;
			width: 220px;
			text-align: center;
			font-weight: bold;
			text-align: center;
			font-size: 3.2rem;
			margin-bottom: 0;
			border-bottom: solid 3px;
		}
		#input{
			display: block;			
		}
		#input2{
			display: block;
		}
		#flip {
			&:hover {
				cursor:pointer;
			}
		}
		.switchout {
			display: none !important;
		}
		svg {
			float:left;
			width: 20px;
			margin: 20px 0 0 25px;
		}
		svg:nth-of-type(1) {
			transform: rotate(180deg);
			margin: 20px 25px 0 0;
		}
		margin-bottom: 65px;
	}
	#buttons {
		#icons {
			margin-left: calc(50% - 90px);
		}
		svg {
			width: 60px;
			&:hover {
				cursor:pointer;
			}
		}
		svg:nth-of-type(2) {
			width: 36px;
			padding: 0 12px 22px 12px;
		}
	}
}
