body {
  background: #111;
  color: white;
  user-select: none;
}
.displaynone {
	visibility: visible;
}
#lists {
	height: 70vh;
	width: 100%;
	div {
		padding-top: 60px;
		width: 50%;
		float: left;
		h2 {
			font-size: 1.4rem;
			text-align: center;
			font-weight: bold;
			margin-bottom: 25px;
			letter-spacing: 1px;
		}
		ul {
			list-style-type: none;
			font-size: 1.2rem;
    		letter-spacing: 0.05rem;
    		li {
    			text-align: center;
    		}
		}
	}
}
main {
	width: 100%;
	height:30vh;
	position: absolute;
	bottom: 0;
	#adjectives {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: 300px;
		bottom: 150px;
		p {
			float:left;
			width: 230px;
			text-align: center;
			font-weight: bold;
			text-align: center;
			font-size: 3.2rem;
			border-bottom: solid 3px;
			margin: 0 20px 0 20px;
			height: 48px;
		}
		#input{
			display: block;			
		}
		#input2{
			display: block;
		}
		#flip {
			&:hover {
				cursor:pointer;
			}
		}
		.switchout {
			display: none !important;
		}
		svg {
			float:left;
			width: 15px;
			margin-top: 15px;
			&:hover {
				cursor:pointer;
			}
		}
		svg:nth-of-type(1) {
			transform: rotate(180deg);
		}
	}
	#icons {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		bottom: 30px;
		svg {
		width: 40px;
			&:hover {
				cursor:pointer;
			}
		}
		svg:nth-of-type(2) {
			width: 30px;
			padding: 0 22px 14px 22px;
		}
	}
}
@media only screen and (min-width: 800px) {
	.displaynone {
	visibility: collapse;
	}
	main {
	width: 50%;
	height:30vh;
	position: absolute;
	top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -45%);
	    #adjectives {
	    	width: 690px;
	    	p {
	    		width: 550px;
	    		font-size: 8rem;
	    		margin: 0 50px;
	    		height: 115px;
	    		border-bottom: 3px solid white;
	    	}
	    	svg {
/*	    		margin-top: 30px;
	    		width: 20px;*/
	    		display: none;
	    	}
	    }
	}
	#lists {
		padding-top:20vh;
		position: absolute;
		right: 5%;
		width: auto;
		div {
			float: left;
			clear: both;
			height: 40vh;
			width: 100%;
			padding-top: 0;
			h2 {
				font-size: 1.8rem;
				letter-spacing: 1px;
			}
			ul {
				list-style-type: none;
				text-align: center;
				font-size: 1.35rem;
	    		letter-spacing: 0.08rem;
			}
		}
	}

}